<div class="menu">
  <div class="menu-item">
    <button class="button is-white" (click)="createNewProject()">
      <p class="ws-menu-item">
        <i class="fas fa-folder-plus"></i>
        Add Project
       </p>
    </button>
    <button class="button is-white" (click)="editWorkspace()">
      <p class="ws-menu-item">
       <i class="fas fa-pencil-alt"></i>
        Edit Workspace
       </p>
    </button>
    <button class="button is-white" (click)="delOneWorkspace()">
      <p class="ws-menu-item">
        <i class="far fa-trash-alt"></i>
        Delete Workspace
       </p>
    </button>
  </div>
</div>
