.white1-box {
  padding: 35px;
  background: #e41c37;
  border-radius: 5px;
  h1 {
    color: #fff;
  }
}
.login-btn {
  background-color: #414244;
  color: #ffffff;
}
.login-btn:hover {
  background-color: #ffffff;
  color: #414244;
}
